
@page "/rezervacija/{Id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Blazor.Shared

<h1 id="naslov2">Rezervacija</h1>
<p class="alert-info">@poruka</p>

<div>
    <p id="tekst" style="font-size: small; display: inline-block"> * potrebno je da imate nalog kako biste izvršili rezervaciju</p>
    <button class="small btnSacuvaj" style="margin-left:10px" @onclick="Registracija"> Registrujte se</button>
</div>   
<div class="row">
    <DataAnnotationsValidator />

    <ValidationSummary />
    <div class="col-md-12">
        <div class="form-group">
            <label id="tekst" for="Ime" class="col-form-label-lg">Email</label>
            <input type="text" for="Ime" @bind-value="korisnik.Email" class="form-control" placeholder="Unesite vaš email" />

        </div>
        <div class="form-group">
            <label id="tekst" for="Naziv" class="col-form-label-lg">Odabrani film</label>
            <input type="text" for="Naziv" @bind-value="flm.Naziv" class="form-control" disabled />


        </div>
        @*------------------------ LISTA PROJEKCIJA ----------------------*@

        <div class="form-group">
            <label id="tekst" for="Datum" class="col-form-label-lg">Datum i vreme projekcije</label>
            <GenericList Elements="listaProjekcija">
                <NullTemplate>
                    <div>
                        <img class="center" height="100" width="100" src="http://www.pzv.org.rs/obuke/images/loading.gif" />
                    </div>
                </NullTemplate>
                <EmptyTemplate>
                    <div>
                        <label id="tekst">Nema projekcija</label>
                    </div>
                </EmptyTemplate>
                <WithElementsTemplate>
                    <table id="grad" class="table">
                        <thead>
                            <tr>

                                <th scope="col" colspan="2">Datum</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var projekcija in listaProjekcija)
                            {
                                <tr>
                                    <td>@projekcija.Datum</td>
                                    <td style="color:rgb(76, 255, 0)"><input type="checkbox" @onclick="(async () => await IzabranaProjekcija(projekcija.Id))" />  Izaberite</td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </WithElementsTemplate>
            </GenericList>


        </div>
        @***********************************************LISTA SEDISTA*********************************************************@
        <GenericList Elements="listaSedista">
            <NullTemplate>
                <div>
                    <img class="center" height="100" width="100" src="http://www.pzv.org.rs/obuke/images/loading.gif" />
                </div>
            </NullTemplate>
            <EmptyTemplate>
                <div>
                    <label id="tekst">Nema projekcija</label>
                </div>
            </EmptyTemplate>
            <WithElementsTemplate>
                <div class="table-responsive">
                    <table id="grad2" class="table" style="outline: thick ridge  rgb(1, 21, 10);">
                        <thead>
                            <tr>

                                <th scope="col">Slobodna sedišta</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr style="-webkit-appearance:media-slider">
                                @foreach (var sediste in listaSedista)
                                {


                                    <td style=" vertical-align:inherit; -webkit-appearance:media-slider; display:-webkit-inline-box; outline-color:rgb(76, 255, 0); outline-style:solid; height:40px; width:40px; margin-top: 7px; margin-bottom:7px">@sediste.Id</td>

                                    <td style="color:rgb(76, 255, 0); -webkit-appearance:media-slider; display:-webkit-inline-box; height:40px; width:40px; margin-top: 7px;  margin-bottom:7px"><input type="checkbox" id="@sediste.Id" @bind="@sediste.IsReserved" /></td>


                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </WithElementsTemplate>
        </GenericList>
      
        <p class="alert-danger">@error</p>
        <div id="center" class="form-group">
            <button type="submit" class=" btn-lg btnSacuvaj" @onclick="CreateRezervacija"> Sačuvaj </button>
        </div>


    </div>

</div>
    

    @code {

        public User korisnik = new User();
        public DatumProjekcije datum = new DatumProjekcije();
        public Blazor.Shared.Rezervacija rezervacija = new Blazor.Shared.Rezervacija();
        public List<Blazor.Shared.Rezervacija> rezervacijeLista = new List<Blazor.Shared.Rezervacija>();
        Blazor.Shared.Rezervacija[] rezervacije;
        Sediste sediste = new Sediste();
        string poruka ;
        string error ;
        DateTime datumPr;

        [Parameter]
        public string Id { get; set; }
        public Film flm = new Film();

        public List<Sediste> listaSedista = new List<Sediste>();
        public List<Sediste> listaSlobodnihSedista = new List<Sediste>();
        public List<DatumProjekcije> listaProjekcija = new List<DatumProjekcije>();


        protected override async Task OnInitializedAsync()
        {
            flm = await Http.GetJsonAsync<Film>($"api/Film/Details/{Convert.ToInt32(Id)}");

            await PopuniListuRezervacija();
            napuniProjekcije();
            popuniSedista();

        }

        private void napuniProjekcije()
        {
            listaProjekcija = flm.Projekcije;

            this.StateHasChanged();
        }

        protected async Task IzabranaProjekcija(int id)
        {
            foreach (var projekcija in listaProjekcija)
            {
                if (projekcija.Id == id)
                    datum = projekcija;

            }

            foreach (var rezervacija in rezervacijeLista.Where(item => item.Datum.Datum == datum.Datum))
            {
                foreach (var sediste in rezervacija.Sediste)
                {
                    if (sediste.IsReserved)
                    {
                        var uklonjenoSediste = listaSedista.Where(item => item.Id == sediste.Id).FirstOrDefault();
                        listaSedista.Remove(uklonjenoSediste);
                    }
                }
            }

            this.StateHasChanged();
        }

        protected async Task PopuniListuRezervacija()
        {

            rezervacije = await Http.GetJsonAsync<Blazor.Shared.Rezervacija[]>($"api/Rezervacija/ByFilm/{Convert.ToInt32(Id)}");


            foreach (var rez in rezervacije)
            {

                rezervacijeLista.Add(rez);
            }

        }
        // ***************KREIRANJE REZERVACIJE

        protected async Task CreateRezervacija()
        {

            var rezervacija = new Blazor.Shared.Rezervacija() { Sediste = new List<Sediste>() };

            var id = Guid.NewGuid();

            rezervacija.Id = id;
            rezervacija.Datum = datum;
            rezervacija.Film = flm;
            rezervacija.User = await VratiUsera(korisnik.Email);

            var sedista = vratiIzabranaSedista(listaSedista);



            foreach (var sediste in sedista)
            {
                sediste.Rezervacija = rezervacija;
            }

            var rezSedista = new RezSedista()
            {
                Rezervacija = rezervacija,
                Sedista = sedista
            };
            poruka = "Sačuvano!";
            await Http.SendJsonAsync(HttpMethod.Post, "/api/Rezervacija/Create/", rezSedista);
            await Task.Delay(4000);

            RedirectToIndex();


        }


        private async Task<User> VratiUsera(string email)
        {
            var korisnik = await Http.GetJsonAsync<User>($"api/User/DetailsByEmail/{email}");

            return korisnik;
        }

        public void popuniSedista()
        {
            OpreativnaMemorija o = new OpreativnaMemorija();
            listaSedista = o.VratiSedista();

        }

        private List<Sediste> vratiIzabranaSedista(List<Sediste> svaSedista)
        {
            var izabranaSedista = svaSedista.Where(item => item.IsReserved).Select(i => new Sediste
            {
                Id = i.Id,
                IsReserved = i.IsReserved
            }).ToList();

            return izabranaSedista;
        }
        void Error()
        {
            error = "Pogresan unos!";
            poruka = "";
        }

        void RedirectToIndex()
        {
            NavigationManager.NavigateTo("/repertoar");
        }
        void Registracija()
        {
             NavigationManager.NavigateTo("/registracija");

        }


    }
